{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

<div class="col mb-3">
    <h1>Rechercher un article</h1>

    <form action="{{ path('articles_search') }}" method="get" class="form">
        <input id="searchField" name="search" class="form-control" type="text" placeholder="Rechercher un article">
    </form>

</div>


<div class="col">
    <h1>Liste des articles</h1>

    <a href="{{path('articles_new') }}" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Ajouter un article</a>

    <table class="table mt-2">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{article.id}}</td>
                <td>
                    <a href="{{
                        path('articles_show', {
                            'article' : article.id
                        })
                    }}">
                        {{article.title}}
                    </a>
                </td>
                <td>{{article.tags}}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>


{% endblock %}


{% block javascripts %}
    <script>
        let searchInput = document.getElementById('searchField');

        searchInput.addEventListener("keypress", function(el) {

            if ( el.target.value.length > 0 && el.target.value.length < 3 ) {

                if (event.which === 13) {
                    el.preventDefault();
                    alert('Minimum 3 caractères.');
                }
            }
        })
    </script>
{% endblock javascripts %}